* {
    /* border: 1px dotted lightblue; */
    font-family: Helvetica, Arial, sans-serif
}

/* Header Styling */
header {
    display: flex;
    align-items: center;
    padding: 0em;
    margin: 0.5em;
    background-color: cadetblue;
    font-size: x-large;
}

.logo {
    width: 10vw;
    padding: 2em;
}

h1 {
    width: 70vw;
    text-align: center;
    justify-self: flex-end;
}

/* Fish Cards and Tips */
.mainContent {
    display: flex;
    justify-content: space-around;
}

aside {
    width: 30vw;
}

/* Fish in Martin's Aquarium */
h2 {
    text-align: center;
    border-bottom: 2px solid grey;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 55vw;
    margin: 2em;
}

.card {
    display: flex;
    height: 30vh;
    justify-content: space-around;
    align-content: space-around;
}

.fish {
    height: auto;
    width: 20vw;
    padding: 1em;
}

.fishDetail {
    padding: 1em;
    width: 25vw;
}

/* Quotes and Travel Tips */
blockquote {
    font-style: italic;
    text-align: center;
}

/* Places I've Been */
.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.location {
    width: 25vw;
    padding: 1em;
}

.location_caption {
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

footer {
    text-align: center;
}